{% extends "layout.twig" %}

{% block content %}

<!-- Page Content -->
<section class="page  page--default">

    <!-- Main Content -->
    <div class="main-content"  id="main">
        <div class="container  container--medium">
            <div class="section">
                {{zone('main')|raw}}
            </div>
        </div>
    </div>


</section>

{% endblock %}
