{% extends "layout.twig" %}

{% block content %}

<!-- Page Content -->
<section class="page  page--partners">
    <div class="hero  hero--partners" id="partner-signup">
        <div class="hero-partners-content">

            <div class="hero-partners-header">
                <a href="/" class="hero-partners-logo">
                    <img src="{{asset('/images/logo.svg')}}" alt="">
                </a>
            </div>

            <!-- Hero Item: Form -->
            <div class="hero-item--module">
                
                <div class="container-form">
                    <div class="partner-form">
                        <div class="parnter-form-container">

                            <div class="hero-partners-description">
                                <h3>Log in to your account</h3>
                            </div>

                            <div class="main-form">
                                {{zone('main')|raw}}
                                <p class="clearfix form-link">Don't have an account? <a href="/register" class="signup-btn"><span>Register here!</span></a></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}

