// -------------------------------------
// BaseKit.com: Stylesheet
// -------------------------------------


// -----------------------------
// #Imports
// -----------------------------


@import "@{templateLocal}/less/reset.less";        // Reset
@import "@{templateLocal}/less/typography.less";   // Typography
@import "@{templateLocal}/less/mixins.less";       // Mixins
@import "@{templateLocal}/less/variables.less";    // Variables

@import "@{templateLocal}/less/hero.less";         // Hero
@import "@{templateLocal}/less/page-styles.less";  // Page Styles



// ------------------------------
// Site Styles
// ------------------------------


body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 28px;
    color: @color__p--text;
}
